<div>
    <template>
        <div class="index">
            <Row type="flex" justify="center" align="middle">
                <Col span="24">
                    <h1>
                        <img src="/src/images/logo.png">
                    </h1>
                    <h2>
                        <p>Welcome to your iView app!</p>
                        <Button type="ghost" @click="handleStart">Start iView</Button>
                    </h2>
                </Col>
            </Row>
        </div>
    </template>
</div>
